body {
  box-sizing: border-box;
  background-color: #0B0C10;
  height: 80%;
}

.App {
  text-align: center;
  margin: 21px auto;
  background-color: rgb(49, 61, 77);
  width: 61%;
  height: 37rem;
  border-radius: 15px;

  h1 {
    margin: 20px auto;
    padding-top: 10px;
    font-size: 32px;
    text-shadow: -1px 2px 9px rgb(192, 179, 175);
    color: white;
    font-family: 'Lexend Mega', sans-serif;
  }

    .form {
      padding: 5px 0;
      text-align: center;
      margin: 20px;
      background-color: rgb(68, 136, 131);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      

      .input {
        border: 2px solid #66FCF1;
        border-radius: 4px;
        padding: 12px;
        margin-left: 100px;
        border-bottom: 10px solid #66FCF1;
        background-color: #3CBC8D;
        color: white;
        font-family: 'Lexend Mega', sans-serif;
      }
  }

    .list {
      // width: 100%;
      // background-color: red;
      list-style: none;

      .list-item {
        display: flex;
        justify-content: space-between;
        border: 2px solid #45A29E;
        border-radius: 10px;
        margin: 10px auto;
        width: 80%;
        background-color: #3CBC8D;
        font-family: 'Lexend Mega', sans-serif;
        color: white;
        font-size: 24px;
        padding: 5px;
        padding-left: 23px;
        text-shadow: -1px 2px 9px rgb(192, 179, 175);
      }
    }


    .btn-submit{
      padding: 8px 8px;
      margin-left: 20px;
      border-radius: 5px;
      background-color: #45A29E;
      font-family: 'Lexend Mega', sans-serif;
      cursor: pointer;
    }
    .btn-remove {
      margin-left: 65px;
      padding: 8px 8px;
      border-radius: 5px;
      background-color: #45A29E;
      font-family: 'Lexend Mega', sans-serif;
      cursor: pointer;
    }

}
@keyframes btn-submit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
